#mainPart {
	background-color: #fbf7f8;
}

#mainCode {
    background-color: #8ac69b;
}

.center-modal-content {
	background-color: #ffffff;
	border-color:#888;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#hideButton {
	background: transparent;
	border: transparent;
	color: #fbf7f8;
}

#hintButton {
	background-color: #fde191;
	border: 1px solid #211217;
	color: #3b3b3b;
}

#hintButton:hover {
	color: #fffcfc;
	background-color: #211217;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

#helpButton {
	background-color: #fde191;
	border: 1px solid #211217;
	color: #3b3b3b;
}

#helpButton:hover {
	color: #fffcfc;
	background-color: #211217;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

#runCodeButton {
	background-color: #fde191;
	border: 1px solid #211217;
	color: #3b3b3b;
}

#runCodeButton:hover {
	color: #fffcfc;
	background-color: #211217;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}