/* For mobile phones: */

#mainPart {
	position: relative;
	left: 0;
	top: 0;
	height: auto;
	width: 100%;
	display: block;
}

#mainCode {
	position: absolute;
	height: auto;
	width: 100%;
	display: block;
}

.changeAftShow {
	position: absolute;
	right: 0;
	height: 100%;
	width: 10%;
	z-index: 0;
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	#mainPart {
		height: 100%;
		width: 65%;
	}
	
	#mainCode {
		height: auto;
		width: 35%;
		right: 0;
		top: 0;
	}

	.changeAftShow {
		position: absolute;
		right: 0;
		height: 100%;
		width: 10%;
		z-index: 3;
	}
}

/* .row::after {
	content: "";
	clear: both;
	display: table;
} */

/* [class*="col-"] {
	float: left;
	padding: 15px;
	border: 1px solid red;
} */

/* [class*="col-"] {
	width: 100%;
} */
  
/* @media only screen and (min-width: 600px) {
	For tablets:
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
  } */
  