/* For mobile phones: */

#mainPart {
	position: relative;
	left: 0;
	top: 0;
	height: auto;
	width: 100%;
	display: block;
}

#mainCode {
	position: absolute;
	height: auto;
	width: 100%;
	display: block;
	z-index: -10;
}

.changeAftShow {
	display: none;
}

#hideButton {
	visibility: hidden;
	display: none;
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	#mainPart {
		position: fixed;
		height: 100%;
		width: 65%;
		z-index: 0;
	}
	
	#mainCode {
		background-color: brown;
		position: absolute;
		min-height: 100%;
		height: auto;
		width: 35%;
		right: 0;
		top: 0;
		z-index: -3;
	}
}