#mainCode {
	background-color: var(--secondary);
	z-index: 0;
	padding: 45px 5% 50px;
}

.mainAns {
	padding: 20px;
}

#runCodeButton {
	position: absolute;
	bottom: 5%;
	right: 3%;
	width: 100px;
	height: 40px;
	border: 1px solid var(--border);
	background-color: var(--primary);
	color: var(--text);
	display: block;
}

#runCodeButton:hover {
	color: var(--background);
	background-color: var(--greykub);
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}
