
  
  /* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
  
  /* Style the image inside the centered container, if needed */
.centeredImg {
    width: 300px 400px;
  }

h1 {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 48px;
}

h3 {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.borderButton {
  appearance: none;
  position: absolute;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.borderButton:disabled {
  pointer-events: none;
}

.borderButton:active {
  box-shadow: none;
  transform: translateY(0);
}

#mainPart {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 65%;
  background-color: #fbf7f8;
}

.mainMap {
  position: relative;
  left: 0;
  top: 0;
  height: 75%;
  width: 100%;
  background: transparent;
}

.centerimg {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  width: 500px;
  height: auto;
}

.underMap {
  position: relative;
  left: 0;
  bottom: 0;
  height: 25%;
  width: 100%;
  background: transparent;
}

.levelScore{
  position: relative;
  left: 24px;
  top: 12px;
}

.star {
  position: relative;
  left: 5%;
  margin-bottom: 5px;
  display: flex;
}

.levelNum {
  position: relative;
  left: 5%;
  bottom: 16%;
  display: flex;
}

.help {
  position: absolute;
  right: 40px;
  bottom: 20%;
  display: flex;
}

.fillButton {
  appearance: none;
  background-color: #fde191;
  border: 1px solid #211217;
  border-radius: 12px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  min-height: 20px;
  min-width: 60px;
  outline: none;
  padding: 2px 3px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

.fillButton:disabled {
  pointer-events: none;
}

.fillButton:hover {
  color: #fff;
  background-color: #211217;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.fillButton:active {
  box-shadow: none;
  transform: translateY(0);
}

#hideButton {
  position: absolute;
  z-index: 3;
  top: 25px;
  right: 20px;
  background: transparent;
  border: transparent;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  color: #fbf7f8;
}

#mainCode {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 35%;
  background-color: #70b29c;
}

.tranButton {
  bottom: 60px;
  right: 20px;
  background-color: transparent;
  border: 1px solid #fbf7f8;
  color: #fbf7f8;
  display: inline-block;
  min-height: 20px;
  min-width: 20px;
  padding: 2px 3px;
  width: 25%;
}

.tranButton:hover {
  color: #211217;
  background-color: #f1b9cc;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}