
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centeredImg {
    width: 300px 400px;
  }

h1 {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 48px;
}

h3 {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

#mainPart {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 65%;
  background-color: aqua;
}

.mainMap {
  position: fixed;
  left: 0;
  top: 0;
  height: 75%;
  width: 65%;
  background: transparent;
}

/* .map {
  position: fixed;
  left: 0;
  top: 0;
  height: 75%;
  width: 65%;
  background: transparent;
} */

.underMap {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 25%;
  width: 65%;
  background: transparent;
}


.levelScore{
  position: relative;
  left: 24px;
  top: 12px;
}

.star {
  position: relative;
  left: 25px;
  bottom: 25px;
  display: flex;
}

.levelNum {
  position: relative;
  left: 25px;
  bottom: 60px;
  display: flex;
}


.help {
  position: absolute;
  right: 40px;
  bottom: 60px;
  display: flex;
}

.fillButton {
  appearance: none;
  background-color: rgb(254, 211, 225);
  border: 1px solid #1A1A1A;
  border-radius: 12px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  min-height: 20px;
  min-width: 60px;
  outline: none;
  padding: 2px 3px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

.fillButton:disabled {
  pointer-events: none;
}

.fillButton:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.fillButton:active {
  box-shadow: none;
  transform: translateY(0);
}

/* .intB {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  background-color: bisque;
  border: 1px solid #111;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  text-align: center;
} */

/* <!-- HTML !-->
<button class="button-28" role="button">Button 28</button> */

#mainCode {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 35%;
  background-color: rgb(212, 86, 86);
}

#hideButton {
  position: absolute;
  z-index: 3;
  top: 25px;
  right: 20px;
  background: transparent;
  border: transparent;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
}

.tranButton {
  appearance: none;
  position: absolute;
  bottom: 60px;
  right: 20px;
  background-color: transparent;
  border: 1px solid #1A1A1A;
  border-radius: 12px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  padding: 2px 3px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 25%;
  will-change: transform;
}

.tranButton:disabled {
  pointer-events: none;
}

.tranButton:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.tranButton:active {
  box-shadow: none;
  transform: translateY(0);
}