* {
  font-family: "Kanit", sans-serif;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centeredImg {
  width: 300px 400px;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 56px;
}

h2 
{
  font-weight: 450;
  font-size: 24px;
}
h3 {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

#mainPart {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 65%;
  background-color: #fbf7f8;
}

.mainMap {
  position: relative;
  left: 0;
  top: 0;
  height: 75%;
  width: 100%;
  background: transparent;
}

.centerimg {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  width: 50%;
  height: auto;
}

.underMap {
  position: relative;
  left: 0;
  bottom: 0;
  height: 25%;
  width: 100%;
  background: transparent;
}

.levelScore {
  position: relative;
  left: 24px;
  top: 12px;
}

.star {
  position: relative;
  width:"6%";
  left: 3%;
  display: inline-block;
}

#levelNum {
  position: relative;
  left: 3%;
  bottom: 0;
  display: block;
}

.help1 {
  position: absolute;
  right: 95px;
  bottom: 20%;
  display: flex;
}

.help2 {
  position: absolute;
  right: 30px;
  bottom: 20%;
  display: flex;
}

.fillButton {
  bottom: 5%;
  right: 5%;
  width: 50px;
  height: 40px;
  background-color: #fde191;
  border: 1px solid #211217;
  border-radius: 12px;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 0px;
  line-height: 0px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  position: absolute;
  appearance: none;
}

.fillButton:disabled {
  pointer-events: none;
}

.fillButton:hover {
  color: #fffcfc;
  background-color: #211217;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.fillButton:active {
  box-shadow: none;
  transform: translateY(0);
}

#hideButton {
  position: absolute;
  z-index: 3;
  top: 25px;
  right: 20px;
  background: transparent;
  border: transparent;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  color: #fbf7f8;
}

#mainCode {
  position: absolute;
  right: 0px;
  top: 0px;
  height: auto;
  width: 35%;
  background-color: #8ac69b;
  z-index: -2;
}

.borderButton {
  bottom: 5%;
  right: 3%;
  width: 100px;
  height: 40px;
  background-color: #fbf7f8;
  border: 1px solid #211217;
  color: #211217;
  display: inline-block;
  /* padding: 2px 3px; */
  appearance: none;
  position: absolute ;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  z-index: 2;
}

.borderButton:hover {
  color: #211217;
  background-color: #f1b9cc;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.borderButton:disabled {
  pointer-events: none;
}

.borderButton:active {
  box-shadow: none;
  transform: translateY(0);
}

.changeAftShow {
  position: fixed;
  right: 0;
  height: 100%;
  width: 10%;
  z-index: 0;
}

.center-modal {
  display: none;
  position: fixed;
  z-index: 5;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-modal-content {
  background-color: #ffffff;
  z-index: 7;
  padding: 20px;
  width: 70%;
  height: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #888;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.order-dropdown
{
  min-width: 100px;
}

.dropdown-title
{
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-select {
  padding: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
}

.dropdown-options {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
}

.show-options {
  display: block;
}

.mainAns
{
  padding : 20px;
}